{% for detail in details %}
     <td>
         {{ detail.stock}}
     </td> 
     <td>
     	{% if detail.stockFinal is not null %}
         {{ detail.stockFinal}}
     	{% else %}
     		{% if detail.stock is not null and detail.stock>(detail.variante|default(0)) %}
     	  {{ (detail.stock-(detail.variante|default(0))-(detail.gratuite|default(0))}}
     	   {% else %}
     	   	--
     		{% endif %}
     	{% endif %}
     </td>
     <td>
         {{ detail.variante}}
     </td>
      <td>
          {{ detail.gratuite}}
      </td>     
{% endfor %}