{% for detail in details %}

	{% set stock=detail.stock|default(detail.variante) %}
	{% set stockFinal=detail.stockFinal %}
     <td>
       {% if stock<detail.variante %}
     	{{ detail.variante }}
     	{% set stock=detail.variante %}
     	{% else %}
     	  {{ stock}}
     	{% endif %}
     </td> 
     <td>
     	{% if detail.stockFinal is not null and detail.stockFinal<=stock %}
         {{ detail.stockFinal}}
     	{% else %}
     		{% if stock is not null and stock>=((detail.variante|default(0))+(detail.gratuite|default(0))) %}
     	    {{ (stock-(detail.variante|default(0))-(detail.gratuite|default(0))) }}
     	   {% else %}
     	     	0
     		{% endif %}
     	{% endif %}
     </td>
     <td>
         {{ detail.variante}}
     </td>
      <td>
          {{ detail.gratuite}}
      </td>     
{% endfor %}