{% extends "AppBundle::index.html.twig" %}

{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
               <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Réalisation des Brand Promotors</h3>
                </div>
                <div class="col text-right">
                  <a href="#" class="btn btn-sm btn-primary">Extraction excel</a>
                </div>
              </div>             
            </div>   
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush" id="myTable">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">SUP</th>
                    <th scope="col">POS</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Qtier.</th>
                    <th scope="col">Tel.</th>
                    <th scope="col">Days</th>
                    <th scope="col">BP.</th>
                    <th scope="col">Target.</th>
                    {% for produit in produits %}
                       <th scope="col">SI_{{produit.shortNom}}</th>
                       <th scope="col">SF_{{produit.shortNom}}</th>
                       <th scope="col">SAL_{{produit.shortNom}}</th>
                      <th scope="col">GIFT_{{produit.shortNom}}</th>
                       {% endfor %}
                  </tr>
                  </tr>
                </thead>
                {% set dayTarget=192 %}
                <tbody>
                  {% for vente in ventePointVentes %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':vente.idSup}) }}">
                      {{ vente.sup|e }}
                   </a>
                    </th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'pointVente':vente.id}) }}">
                      {{ vente.nom|e }}
                     </a>
                    </th>
                    <td>
                        {{ vente.ville }}
                    </td>
                    <td>
                        {{ vente.quartier}}
                    </td>
                    <td>
                       {{ vente.telGerant}}
                    </td>                                        
                    <td>
                      {{ vente.nombrejours}}
                    </td>
                    <td>
                       {{ vente.nombreressources}}
                    </td>                    
                     <td>
                       {{ (vente.nombrejours*dayTarget*vente.nombreressources)}}
                    </td>                                       
                  {{ render(controller( 'AppBundle:App:realisationProduit', { 'id': vente.id }))}}                    
                  </tr
                   {% endfor %}
                 </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
 {% block chart %}
  {% endblock %}